<style>

    .error {
        color: red;
    }



    #error {
        visibility: hidden;
        width: 200px;
        background-color: #d25656;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        z-index: 1;
        font-size: 17px;
    }

        #error.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }


    input[type="date"] {
        color: #fff;
        position: relative;
    }

        input[type="date"]::-webkit-datetime-edit-year-field {
            position: absolute !important;
            padding: 2px;
            color: #000;
            left: 56px;
        }

        input[type="date"]::-webkit-datetime-edit-month-field {
            position: absolute !important;
            padding: 2px;
            color: #000;
            left: 26px;
        }


        input[type="date"]::-webkit-datetime-edit-day-field {
            position: absolute !important;
            color: #000;
            padding: 2px;
            left: 4px;
        }
</style>
<script src="~/js/app.js/EnteringCargoView.js"></script>

<div class="right_col" role="main">
    <div class="page-title">
        <div class="row">
            <div class="col-md-11">
                <div class="title_left">
                    <h3>Entering Cargo</h3>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content" id="">
                    <form class="form-horizontal form-label-left" id="EnteringCargoForm">



                        <div class="form-horizontal form-label-left row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12" for="name">
                                        GD-Number: <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
    @(Html.DevExtreme()
                                                .Autocomplete()
                                                .ID("GDNumber")
                                                .DataSource(d => d.Mvc()
                                                .Controller("APICalls")
                                                .Area("")
                                                .LoadAction("GetGDNumbers"))
                                                .Placeholder("Type GDNumber...")
                                                .OnValueChanged("gdNumber_changed"))
                                        <span class="error" id="gdnumberError"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12" for="name">
                                        LP Number: <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @(Html.DevExtreme()
                                            .SelectBox()
                                            .ID("LPNumber")
                                            .ValueExpr("value")
                                            .DisplayExpr("text")
                                            .AcceptCustomValue(true)
                                            .SearchEnabled(true)
                                            .DataSource(d => d.Mvc()
                                            .Controller("APICalls")
                                            .Area("")
                                            .LoadAction("GetUnGateInLoadingProgramNumbers"))
                                            .Placeholder("Type Loading Program ...")
                                            .OnSelectionChanged("loadingProgramNumber_changed"))
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4 col-sm-4 col-xs-12">
 
                            </div>


                        </div>

                        <div class="form-horizontal form-label-left row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        N.O Packages
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="numberOfPackges" name="NumberOfPackages" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Package Type
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="packgeType" name="PackageType" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Consignee
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="consigneeName" name="ConsigneeName" readonly>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <div class="form-horizontal form-label-left row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Clearing Agent
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="clearingAgentName" name="ClearingAgentName" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Shipper Name
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="shipperName" name="ShipperName" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        ChallanNumber
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="challanNumber" name="ChallanNumber" readonly>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="form-horizontal form-label-left row">

                            <div class="form-horizontal form-label-left row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="item form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                            Gross Weight
                                        </label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" class="form-control" id="grossWeight" name="GrossWeight" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="item form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                            Gate-In Date
                                        </label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="date" class="form-control" id="opiaReceived" name="OPIAReceiveTime" readonly>
                                        </div>
                                    </div>
                                </div>
  
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="ln_solid"></div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Vehicle No
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="vehicleNumber" required>
                                        <span class="error" id="VehicleNumbererror"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Shipper Seal
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="shipperSeal" >
                                        <span class="error" id="ShipperSealerror"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <a href="#" id='hideshow' onclick="toggleVehcileGrid()">
                                        + Multiple Vehicles
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row" id="VehcileExportDetailGrid" style="display:none">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <div id="vehicleDetails"></div>
                                        <div class="ln_solid"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-1" for="name">
                                        Remarks
                                    </label>
                                    <div class="col-md-11">
                                        <textarea name="Remarks" class="form-control" id="remarks" placeholder="Enter text here..."></textarea>


                                    </div>
                                </div>
                            </div>

                        </div>


                    </form>



                    <div class="form-horizontal form-label-left row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-info" style="float:right;" onclick="printCargoDropOff()">Cargo Drop</button>
                            <button type="button" class="btn btn-info" style="float:right;" onclick="printTellySheet()">Tally Sheet</button>
                            <button id="btnSubmit" type="button" style="float:right;" onclick="AddEnteringCargo()" class="btn btn-success">Submit</button>
                            <a id="btnSubmitUpdate" class="btn btn-success" onclick="UpdateEnteringCargo()" style="display:none; float: right;">Update</a>

                            <button type="button" id="btnCancel" class="btn btn-primary" onclick="restform()" style="float:right;">Cancel</button>
                        </div>
                    </div>



                </div>


            </div>
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div id="loadingProgramDetail"></div>
                    <div class="ln_solid"></div>
                </div>
            </div>
        </div>
    </div>
</div>


