@{
    var ShippingAgent = (IEnumerable<SelectListItem>)ViewData["ShippingAgent"];

    var GDNumbers = (IEnumerable<SelectListItem>)ViewData["GDNumbers"];
}

<style>


    .error {
        color: red;
    }



    #error {
        visibility: hidden;
        width: 200px;
        background-color: #d25656;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        z-index: 1;
        font-size: 17px;
    }

        #error.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    input[type="date"] {
        color: #fff;
        position: relative;
    }

        input[type="date"]::-webkit-datetime-edit-year-field {
            position: absolute !important;
            border-left: 1px solid #8c8c8c;
            padding: 2px;
            color: #000;
            left: 56px;
        }

        input[type="date"]::-webkit-datetime-edit-month-field {
            position: absolute !important;
            border-left: 1px solid #8c8c8c;
            padding: 2px;
            color: #000;
            left: 26px;
        }


        input[type="date"]::-webkit-datetime-edit-day-field {
            position: absolute !important;
            color: #000;
            padding: 2px;
            left: 4px;
        }
</style>

<script src="~/js/app.js/CustomerNOCView.js"></script>



<div class="right_col" role="main">
    <div class="page-title">
        <div class="row">
            <div class="col-md-11">
                <div class="title_left">
                    <h3>Customer NOC</h3>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>






    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content" id="">

                    <form class="form-horizontal form-label-left" id="CustomerNOCForm">

                        <div class="form-horizontal form-label-left row">


                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-6" for="first-name">
                                        GD Number
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownList("GDNumber", GDNumbers, "Select GD Number", new { @class = "form-control select2", @id = "gdnumbers", @onchange = "gdNumber_changed(this.value)" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-6" for="first-name">
                                        From  Shipping Agent
                                    </label>
                                    <div class="col-md-6">
                                        @Html.DropDownList("ShippingAgentExportId", ShippingAgent, "Select Shipping Agent", new { @class = "form-control", @id = "shippingAgentA", @readonly = "true" })


                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Email Received
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="date" class="form-control" name="EmailReceived" id="emailReceived" required>
                                        <span class="error" id="EmailReceivederror"></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-horizontal form-label-left row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Name Of Person
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" name="NameOfPerson" id="nameOfPerson" required>
                                        <span class="error" id="NameOfPersonerror"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Contact Number
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" name="ContactNumber" id="contactNumber" required>
                                        <span class="error" id="ContactNumbererror"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-5" for="first-name">
                                        To Shipping Agent
                                    </label>
                                    <div class="col-md-7">
                                        @Html.DropDownList("ShippingAgentExportBId", ShippingAgent, "Select Shipping Agent ", new { @class = "form-control select2", @id = "shippingAgentB", @required = "required" })
                                        <span class="error" id="ShippingAgenterror"></span>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </form>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="button" id="btnCancel" class="btn btn-primary" onclick="restform()" style="float:right;">Cancel</button>
                            <button id="btnSubmit" type="button" style="float:right;" onclick="AddCustomerNOC()" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div id="cargoInfoDetail"></div>
                    <div class="ln_solid"></div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $('.select2').select2();
</script>