<script src="~/lib/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>
<script src="~/lib/devextreme/js/dx.aspnet.mvc.js"></script>

<style>
    .newbox {
        text-align: center;
        padding: 3px 0px 3px 0px;
        font-size: 14px;
        font-weight: 600;
        margin: -3px -10px 10px -10px;
        /* color: white; */
        background: #e9e9e9;
        border-bottom: 1px solid #d1d1d1;
    }

    .borderline {
        border-top: 1mm solid #161515;
        color: #fff;
        background-color: #fff;
        height: 1px;
        margin: 20px 0;
    }


    .panelform {
        width: 100%;
        padding: 10px 17px;
        display: inline-block;
        background: #fff;
        border: 1mm solid #93b2dd;
        -webkit-column-break-inside: avoid;
        opacity: 1;
        transition: all .2s ease;
    }
</style>
<script src="~/js/app.js/GDTariff.js"></script>


@{

    var tariffHeads = (IEnumerable<SelectListItem>)ViewData["TariffHead"];

    var NatureOfTariffs = (IEnumerable<SelectListItem>)ViewData["NatureOfTariffs"];

}

<style>
    .newbox {
        text-align: center;
        padding: 3px 0px 3px 0px;
        font-size: 14px;
        font-weight: 600;
        margin: -3px -10px 10px -10px;
        /* color: white; */
        background: #e9e9e9;
        border-bottom: 1px solid #d1d1d1;
    }
</style>

<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>GD Tariff Information</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">

                    <div class="form-horizontal form-label-left row">
                        <div class="x_panel">

                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="item form-group">
                                        <label class="control-label col-md-4 col-sm-3 col-xs-12" for="name">
                                            GD#: <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            @(Html.DevExtreme()
                                          .Autocomplete()
                                          .ID("GDNumber")
                                          .DataSource(d => d.Mvc()
                                          .Controller("APICalls")
                                          .Area("")
                                          .LoadAction("GetGDNumbers"))
                                          .Placeholder("Type GDNumber...")
                                          .OnValueChanged("gdNumber_changed"))
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="item form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                            Agent:
                                        </label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input class="form-control" id="shippingAgentName" type="text" name="location" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="item form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">

                                        </label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <button class="btn btn-primary" onclick="refershIndextariff( )"> Refersh Agent Tariff </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="item form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                            Tariff Type
                                        </label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            @*<select class="form form-control" name="TariffType" id="tariffType">
                                                    <option value="" selected></option>
                                                    <option value="Nominated">Nominated</option>
                                                    <option value="FreeHand">FreeHand</option>
                                                </select>*@

                                            @Html.DropDownList("NatureOfTariffId", NatureOfTariffs, "Select Nature of type", new { @class = "form-control select2", @id = "tariffType", @required = "required" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="item form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">

                                        </label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <button class="btn btn-success" onclick="updatetarifftypeforcontainer( )"> Update Info</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ln_solid"></div>


                    @*<div class="form-horizontal form-label-left row">
                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <div id="indexTariffGrid">

                                </div>

                            </div>

                        </div>*@
                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="x_content">
                                <div id="indexTariffGrid"></div>

                            </div>

                        </div>

                    </div>
                    <div class="ln_solid"></div>


                    <div class="row">

                        <form id="tariffCharegsForm" class="panelform">

                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="item form-group">
                                            <label class="control-label col-md-12 col-sm-12 col-xs-12" for="name" style=" text-align: center; font-size: 20px; color: black;">
                                                Tariff Head Amount
                                            </label>

                                        </div>
                                    </div>

                                </div>

                                <div class="borderline"></div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="item form-group">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                                Tariff Contract:
                                            </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                @Html.DropDownList("TariffHeadExportId", tariffHeads, "Select Tariff Head", new { @class = "form-control select2", @id = "tariffHead" })
                                                <span class="error" id="TariffHeadIderror"></span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="item form-group">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                                Implement From
                                            </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="date" id="implementFrom" class="form-control" name="ImplementFrom">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="item form-group">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                                Tariff Type
                                            </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <select class="form form-control" name="TariffType" id="tariffType">
                                                    <option value="AdditionalBWT">Additional BWT</option>
                                                    <option value="AdditionalFF">Additional FF</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12">

                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="item form-group">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                                Storage Applicable on
                                            </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <select class="form form-control" name="IsCBMorRate" id="iscbmorRate">
                                                    <option value="true">CBM OR Weight</option>
                                                    <option value="false">Size</option>
                                                </select>
                                                <span class="error" id="IsCBMorRateerror"></span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="item form-group">
                                            <div class="col-md-6 col-sm-4 col-xs-12">
                                                <div class="checkbox" style="display: inline-block;">
                                                    <label>
                                                        <input type="checkbox" name="isactive" class="flat" checked="checked" value="true"> Active
                                                        <input type="hidden" value="false" name="isactive" />
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal form-label-left row">

                                    <div class="col-md-5 col-sm-5 col-xs-12 ">
                                        <div class="item form-group  x_panel">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="name">
                                                Rate 20
                                            </label>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <input type="number" class="form-control" id="rate20" name="Rate20">
                                            </div>
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="name">
                                                Rate 40
                                            </label>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <input type="number" class="form-control" id="rate40" name="Rate40">
                                            </div>
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="name">
                                                Rate 45
                                            </label>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <input type="number" class="form-control" id="rate45" name="Rate45">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-7 col-sm-7 col-xs-12 ">
                                        <div class="item form-group  x_panel">
                                            <label class="control-label col-md-1 col-sm-2 col-xs-12" for="name">
                                                CBM Rate
                                            </label>
                                            <div class="col-md-1 col-sm-2 col-xs-12">
                                                <input type="number" class="form-control" id="cbmRate" name="CBMRate">
                                            </div>
                                            <label class="control-label col-md-1 col-sm-2 col-xs-12" for="name">
                                                Weight Rate
                                            </label>
                                            <div class="col-md-1 col-sm-2 col-xs-12">
                                                <input type="number" class="form-control" id="weightRate" name="WeightRate">
                                            </div>
                                            <label class="control-label col-md-1 col-sm-2 col-xs-12" for="name">
                                                PerIndex Rate
                                            </label>
                                            <div class="col-md-1 col-sm-2 col-xs-12">
                                                <input type="number" class="form-control" id="perIndexRate" name="PerIndexRate">
                                            </div>
                                            <label class="control-label col-md-1 col-sm-2 col-xs-12" for="name">
                                                CBM Fixed Rate
                                            </label>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <input type="text" class="form-control" id="cbmFixedRate" name="cbmFixedRate">
                                            </div>
                                            <label class="control-label col-md-1 col-sm-2 col-xs-12" for="name">
                                                CBM Multiply Value
                                            </label>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <input type="text" class="form-control" id="cbmMultiplyValue" name="CBMMultiplyValue">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <button type="button" id="btnSubmit" onclick="addTariff()" class="btn btn-success" style="display: inline-grid;float: right;">Add Charges</button>
                            </div>
                        </form>
                    </div>

                    @*<div class="row">

                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <div class="x_content">
                                    <div id="tariffGrid"></div>

                                </div>

                            </div>

                        </div>*@

                </div>
            </div>
        </div>

    </div>

</div>

<script>
    $('.select2').select2();
</script>
