
@{
    var partys = (IEnumerable<SelectListItem>)ViewData["Partys"];
}

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>


<style>
    .btnSubmit {
        float: left !important;
    }
</style>
<script src="~/js/app.js/DailyCollectionReportExport.js"></script>

<div class="right_col" role="main">
    <div class="page-title x_panel">
        <div class="title_left">
            <h3>
                Daily Collection Report
            </h3>
        </div>
        <div class="title_right">

        </div>


    </div>
    <div class="clearfix"></div>
    <div class="x_panel">
        <div class="row">
            <div class="col-md-5 col-xs-12">

                <div class="control-group">
                    <div class="controls">
                        <label class="control-label col-md-3 col-xs-12" for="first-name">
                            Invoice No
                        </label>
                        <div class="col-md-9 col-xs-12">
                            <input type="text" class="form-control" id="invoiceNo">
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-7 col-xs-12">

                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="control-group">
                        <div class="controls">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                From
                            </label>
                            <div class="col-md-9 col-xs-12">
                                <input type="text" placeholder="Invoice Amount Range" class="form-control" id="fromRange">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="control-group">
                        <div class="controls">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                To
                            </label>
                            <div class="col-md-9 col-xs-12">
                                <input type="text" placeholder="Invoice Amount Range" class="form-control" id="toRange">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12"></div>
        </div>
        <div class="row">

            <div class="col-md-5 col-xs-12">
                <div class="form-group">
                    <label class="control-label  col-md-3 col-xs-12" for="first-name">
                        Party :<span class="required">*</span>
                    </label>
                    <div class="col-md-9 col-xs-12">
                        @Html.DropDownList("PartyId", partys, "Select Party", new { @class = "form-control select2", @id = "partyId", required = "required" })

                    </div>
                </div>
            </div>
            <div class="col-md-7 col-xs-12">

                <div class="col-md-5 col-xs-12">
                    <div class="control-group">
                        <div class="controls">
                            <label class="control-label col-md-3 col-xs-12" for="first-name">
                                From:
                            </label>
                            <div class="col-md-9 col-xs-12">
                                <input type="date" class="form-control" id="fromdate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12">
                    <div class="control-group">
                        <div class="controls">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                To:
                            </label>
                            <div class="col-md-9 col-xs-12">
                                <input type="date" class="form-control" id="todate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <button type="button" class="btn btn-dark mobBtn" onclick="myFunction()">Submit</button>
                </div>

            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content" id="repotdata">

                </div>
            </div>
        </div>

    </div>

</div>



<script>
    $('.select2').select2();
</script>
