

@{
    var Agents = (IEnumerable<SelectListItem>)ViewData["Agents"];
}

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>


<script src="~/js/app.js/MonthlyBillingExport.js"></script>
<div class="right_col" role="main">
    <div class="page-title x_panel">
        <div class="title_left">
            <h3>
                Monthly Bill Export
            </h3>
        </div>
        <div class="title_right">
        </div>


    </div>

    <div class="clearfix"></div>

    <div class="x_panel">
        <div class="row">

            <div class="col-md-5 col-xs-12">
                <div class="item form-group">
                    <label class="control-label col-md-3 col-xs-12" for="name">
                        Container
                    </label>
                    <div class="col-md-9 col-xs-12" id="containerBox">
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-xs-0">

                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="control-group">
                        <div class="controls">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Index
                            </label>
                            <div class="col-md-9" id="GDBox">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="control-group">
                        <div class="controls">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                VIR
                            </label>
                            <div class="col-md-9 col-xs-12" id="VIRBox">

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <div class="control-group">
                    <div class="controls">
                        <label class="control-label col-md-3 col-xs-12" for="first-name">
                            Invoice No
                        </label>
                        <div class="col-md-9 col-xs-12">
                            <input type="text" class="form-control" id="invoiceNumber">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-xs-12">

                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="control-group">
                        <div class="controls">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                CBM
                            </label>
                            <div class="col-md-9 col-xs-12">
                                <input type="text" class="form-control" id="cbm">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="control-group">
                        <div class="controls">
                            <label class="control-label col-md-5 col-xs-6" for="first-name">
                                Sub Bill
                            </label>
                            <div class="col-md-6 col-xs-6">
                                <input type="checkbox" style="    float: right;  height: 18px;  width: 15px;" class="form-control" id="isnegative" onclick='handleClick(this);'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <div class="form-group">
                    <label class="control-label  col-md-3 col-xs-12" for="first-name">
                        Agent :<span class="required">*</span>
                    </label>
                    <div class="col-md-9 col-xs-12">
                        @Html.DropDownList("ShippingAgentExportId", Agents, "Select Agent", new { @class = "form-control select2", @id = "shippingAgent", required = "required" })

                    </div>
                </div>
            </div>
            <div class="col-md-7 col-xs-12">

                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="control-group">
                        <div class="controls">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                From
                            </label>
                            <div class="col-md-9 col-xs-12">
                                <input type="text" placeholder="Invoice Amount Range" class="form-control" id="fromRange">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="control-group">
                        <div class="controls">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                To
                            </label>
                            <div class="col-md-9 col-xs-12">
                                <input type="text" placeholder="Invoice Amount Range" class="form-control" id="toRange">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">



            <div class="col-md-5 col-xs-12"></div>
            <div class="col-md-7 col-xs-12">


                <form class="" id="filterForm">
                    <div class="col-md-5 col-xs-12">
                        <div class="control-group">
                            <div class="controls">
                                <label class="control-label col-md-3 col-xs-12" for="first-name">
                                    From:
                                </label>
                                <div class="col-md-9 col-xs-12">
                                    <input type="date" class="form-control" id="fromdate">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12">
                        <div class="control-group">
                            <div class="controls">
                                <label class="control-label col-md-2 col-xs-12" for="first-name">
                                    To:
                                </label>
                                <div class="col-md-9 col-xs-12">
                                    <input type="date" class="form-control" id="todate">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <button type="button" class="btn btn-dark mobBtn" onclick="myFunction()" style="float:right">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </div>



    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div id="large-indicator"></div>
                <div class="x_content" id="repotdata">

                </div>
            </div>
        </div>

    </div>

</div>


<script>
    $('.select2').select2();
</script>
