<!--ChartJS script file -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js" type="text/javascript"></script>
<!-- Add EasyQuery All scripts file -->
<script src="https://cdn.korzh.com/eq/6.0.0/eq.enterprise.min.js" type="text/javascript"></script>
<!-- Add EasyQuery functionality -->
<script src="~/js/app.js/DynamicReports.js"></script>
@*<style>
    a{display:none}
</style>*@

<div class="right_col" role="main">
    <div class="page-title">
        <div class="row">
            <div class="col-md-11">
                <div class="title_left">
                    <h3>Dynamic Report</h3>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btnprimary" onclick="ExportGrid()">
        Export
    </button>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <partial name="EasyQuery/_AdvancedSearch" />
                </div>
            </div>
        </div>
    </div>
</div>