<script src="~/js/app.js/EDIMessagesExport.js"></script>


<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>EDI Messages</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content" id="">

                    <div class="form-horizontal form-label-left row">


                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="name">
                                    GD Number
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" id="GDNumber" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <button type="button" class="btn btn-primary" style="float:right;" id="btnSubmit" onclick="showEdimessagesExport()">Show</button>

                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div id="ediGrids"></div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div>

</div>


