
<script>
    $(document).ready(function () {


    });
</script>

<div id="sidebar-menu" class="main_menu_side hidden-print main_menu side-bar-body ">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">

            <!-- menu -->
            <div id="MainMenu">
                    <a class="list-group-item side-bar-head">Export Reports</a>
                <div class="list-group panel list-scroll">
                     
                    <a href="#demo211" class="list-group-item sidebar-menu" data-toggle="collapse" data-parent="#MainMenu">Reports <i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo211">
                        <a href="/Export/Reports/AnfCargoCheckList" class="list-group-item child_sidebar tabLink">ANF Cargo Check List</a>
                        <a href="/Export/Reports/AnfReport" class="list-group-item child_sidebar tabLink">ANF Report</a>
                        <a href="/Export/Reports/CargoAlongsideReport" class="list-group-item child_sidebar tabLink">Cargo Along side position</a>
                        <a href="/Export/Reports/CargoAlongsideReportBaywise" class="list-group-item child_sidebar tabLink">Cargo Along side position Baywest</a>
                        <a href="/Export/Reports/CargoMEasurementCertificate" class="list-group-item child_sidebar tabLink">Cargo Measurement Certificate</a>
                        <a href="/Export/Reports/ExportAdvice" class="list-group-item child_sidebar tabLink">Export Advice</a>
                        <a href="/Export/Reports/KerryExport" class="list-group-item child_sidebar tabLink">Daily CFS Report</a>
                        <a href="/Export/Reports/DailyDSRReport" class="list-group-item child_sidebar tabLink">Daily DSR</a>
                        <a href="/Export/Reports/ExportGatePasses" class="list-group-item child_sidebar tabLink">Export Gate Pass</a>
                        <a href="/Export/Reports/ExportFinalReport" class="list-group-item child_sidebar tabLink">Export Final Stuffing</a>
                        <a href="/Export/Reports/ExportDailyCFSReport" class="list-group-item child_sidebar tabLink">Export Daily CFS</a>
                        <a href="/Export/Reports/SummaryofStuffing" class="list-group-item child_sidebar tabLink">Summary of Stuffing</a>
                        <a href="/Export/Reports/TerminalReceipt" class="list-group-item child_sidebar tabLink">Generate Terminal Receipt</a>
                        <a href="/Export/Reports/ListofExportFullOrEmptyContainers" class="list-group-item child_sidebar tabLink">Full/Empty Container</a>
                        <a href="/Export/Reports/ListofExportFullLCLCargoStuffedcontainer" class="list-group-item child_sidebar tabLink">Full/Empty Cargo Stuffed</a>
                        <a href="/Export/Reports/StatementShowingExportPosition" class="list-group-item child_sidebar tabLink"> Statement Showing Export Position</a>
                        <a href="/Export/Reports/ExportTellySheetSec" class="list-group-item child_sidebar tabLink"> Export  Stuffing Tally Sheet</a>
                        <a href="/Export/Reports/CargoReceivedStockAlongSidePosition" class="list-group-item child_sidebar tabLink">Cargo Received Stock Along Side Position</a>
                        <a href="/Export/Reports/TerminalReceiptSec" class="list-group-item child_sidebar tabLink">Terminal Receipt</a>
                        <a href="/Export/Reports/EmptyReceving" class="list-group-item child_sidebar tabLink">Empty Receving</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> 