 
<style>

    #CargoInformation {
        max-height: 750px;
    }

    .my-class {
        background-color: #4b5f71;
        color: white;
    }

    .newbox {
        text-align: center;
        padding: 3px 0px 3px 0px;
        font-size: 14px;
        font-weight: 600;
        margin: -3px -10px 10px -10px;
        color: white;
        background: #2a3f54;
        border-bottom: 1px solid #d1d1d1;
    }

    #error {
        visibility: hidden;
        width: 200px;
        background-color: #d25656;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        z-index: 1;
        font-size: 17px;
    }

        #error.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    .dx-header-row > td > .dx-datagrid-text-content {
        white-space: normal;
        vertical-align: top;
        text-align: center;
    }

    .myClass {
        background-color: #73cbad4f;
        color: black;
    }
</style>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.3/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.1.1/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>

<script src="~/js/app.js/ElectronicDeliveryOrderView.js"></script>

<style>
    .newbox {
        text-align: center;
        padding: 3px 0px 3px 0px;
        font-size: 14px;
        font-weight: 600;
        margin: -3px -10px 10px -10px;
        color: white;
        background: #2a3f54;
        border-bottom: 1px solid #d1d1d1;
    }
</style>



<div class="right_col" role="main">
    <div class="page-title">
        <div class="row">
            <div class="col-md-11">
                <div class="title_left">
                    <h3> Electronic Delivery Order </h3>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">


                    <div class="row">

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="name">
                                    Vir No: <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @(Html.DevExtreme()
                                                .Autocomplete()
                                                .ID("virnolist")
                                                .DataSource(d => d.Mvc()
                                                .Controller("APICalls")
                                                .Area("")
                                                .LoadAction("Getvirno"))
                                                .Placeholder("Type IGM No..."))
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="name">
                                    BL No: <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @(Html.DevExtreme()
                                                .Autocomplete()
                                                .ID("containerlist")
                                                .DataSource(d => d.Mvc()
                                                .Controller("APICalls")
                                                .Area("")
                                                .LoadAction("GetEDOBlnumbers"))
                                                .Placeholder("Type BL No..."))
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="name">
                                    Index No: <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @(Html.DevExtreme()
                                                .Autocomplete()
                                                .ID("containerIndexlist")
                                                .DataSource(d => d.Mvc()
                                                .Controller("APICalls")
                                                .Area("")
                                                .LoadAction("Getigmoindexes"))
                                                .Placeholder("Type Index..."))
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="row">
                        


                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-dark" onclick="showcargoDetaildesc()" style="float:right"> View Detail</button>

                            </div>
                        </div>

                    </div>
                    @*<div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="name">
                                    File Select: <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="file" class="form form-control" id="fileUpload" accept=".xls,.xlsx" style=" background-color: beige; color: black;" /><br />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <button type="button" class="btn btn-success" id="uploadExcel">Upload File</button>
                            </div>
                        </div>
                    </div>*@
                    <div class="ln_solid"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div id="large-indicator"></div>
                            <div id="CargoInformation">

                            </div>
                        </div>
                    </div>

                    @*<div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-default" onclick="SaveInfo()" style="float:right">Save</button>
                        </div>
                    </div>*@

                </div>
            </div>
        </div>
    </div>
</div>






<script>
    $('.select2').select2();

    //var selectedFile;
    //document
    //    .getElementById("fileUpload")
    //    .addEventListener("change", function (event) {
    //        selectedFile = event.target.files[0];
    //    });
    //document
    //    .getElementById("uploadExcel")
    //    .addEventListener("click", function () {

    //        var resultvalue = true;

    //        if (selectedFile) {
    //            var fileReader = new FileReader();
    //            fileReader.onload = function (event) {
    //                var data = event.target.result;

    //                var workbook = XLSX.read(data, {
    //                    type: "binary"
    //                });
    //                workbook.SheetNames.forEach(sheet => {
    //                    let rowObject = XLSX.utils.sheet_to_row_object_array(
    //                        workbook.Sheets[sheet]
    //                    );

    //                    if (rowObject) {

    //                        var result = [];

    //                        var newresult = rowObject;
                             
    //                        newresult.forEach(c => {
                                 
    //                            let x = {

    //                                agent_Name: c.Agent,
    //                                bL_No: c.BL,
    //                                container_No: c.Container,
    //                                do_Date:  formatDate(new Date(Date.UTC(0, 0, c.DO_Date - 1))),
    //                                aictPerCBMRate: c.Description,
    //                                doc_Tran_No: c.Doc_Tran_No,
    //                                goods_Desc: c.Goods_Desc,
    //                                gross_Weight: c.GrossWeight,
    //                                igM_No: c.IGM,
    //                                index_No: c.Index,
    //                                marks_No: c.MarksNo,
    //                                netWeight: c.NetWeight,
    //                                no_Of_Pkgs: c.No_Of_Packges,
    //                                port_of_Arrival: c.Port_of_Arrival,
    //                                ref_No: c.Ref_No,
    //                                conT_Size: c.Size,
    //                                valid_Date: formatDate(new Date(Date.UTC(0, 0, c.Valid_Date - 1))),
    //                                vessel_Name: c.Vessel,
    //                                voyage: c.Voyage,
 
    //                            };

    //                            result.push(x);

    //                        });

    //                        console.log("result", result)

 
    //                        if (result.length) {

    //                            $.post('/Import/ElectronicDeliveryOrder/SaveEDO', { model: result }, function (data) {

    //                                if (data.error == false) {
    //                                    showToast(data.message, "success")
    //                                } else {
    //                                    showToast(data.message, "error")
    //                                }
    //                            });
    //                        }
    //                    }


    //                });
    //            };
    //            fileReader.readAsBinaryString(selectedFile);
    //        }
    //    });


    function formatDate(date) {

        console.log("date", date.getTime())
        return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
    }

</script>





