
<script src="~/lib/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>
<script src="~/lib/devextreme/js/dx.aspnet.mvc.js"></script>
<script src="~/js/app.js/OEHCView.js"></script>

<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>OEHC</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    @(Html.DevExtreme().DataGrid<WebdocTerminal.Models.OEHC>()
                             .OnEditorPreparing("hideMenifestedColumns")
                            .ID("OEHCId")
                            .WordWrapEnabled(true)
                            .FilterRow(filterRow => filterRow
                            .Visible(true)
                            .ApplyFilter(GridApplyFilterMode.Auto))
                            .Paging(paging => paging.PageSize(10))
                            .SearchPanel(searchPanel => searchPanel
                                    .Visible(true)
                                    .Width(240)
                                    .Placeholder("Search...")
                                ).Editing(editing =>
                                {
                                    editing.Mode(GridEditMode.Popup);
                                    editing.AllowAdding(false);
                                    editing.AllowDeleting(false);
                                    editing.AllowUpdating(true);
                                    editing.UseIcons(true);
                                    editing.Popup(p => p
                                    .ShowTitle(false)
                                    .Width(700)
                                    .Height(345)
                                    .Position(pos => pos
                                    .My(HorizontalAlignment.Center, VerticalAlignment.Center)
                                    .At(HorizontalAlignment.Center, VerticalAlignment.Center)
                                    .Of(new JS("window"))
                                    )
                                    );
                                })
                            .Columns(c =>
                            {
                                c.Add().DataField("gdNumber").Width(180).ValidationRules(v => v.AddRequired());
                                c.Add().DataField("handlingCode");
                                 c.Add().DataField("messageTo");
                            })
                            .DataSource(d => d.Mvc()
                            .Controller("OEHC")
                            .LoadAction("GetOEHCsList")
                            .InsertAction("Post")
                            .UpdateAction("Put")
                            .DeleteAction("Delete")
                            .Key("oehcId"))
                    )

                </div>
            </div>
        </div>

    </div>

</div>

