@*@{
                ViewData["Title"] = "GateOutContainers";
            }

    <h2>GateOutContainers</h2>*@
<style>
    .modal-dialog {
        width: 50% !important;
        margin: 30px auto;
    }

</style>
<script src="~/js/app.js/GateOutCYContainers.js"></script>


<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Gate Out Containers
            </h3>
        </div>
        <div class="title_right">
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <div id="gateoutContainer"></div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button class="btn btn-primary" style="float:right;" id="btnSubmit" onclick="gateOutCY()">Save & Create EDI</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div id="HoldStatusModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Hold Status</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="x_content" id="holdGrid"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
