<script src="~/js/app.js/PreGateout.js"></script>

<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>
               Pre GateOut
            </h3>
        </div>
        <div class="title_right">
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <div id="gateinContainer"></div>
                    <div class="ln_solid"></div>
                    <div class="form-horizontal form-label-left">
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-primary" style="float:right;" type="button" id="btnSubmit" onclick="savePGOO()" disabled>Save & create EDI</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
