@{
    ViewData["Title"] = "Re-Process Gate In";
}
<style>
    @@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

        .x_title span {
            color: #BDBDBD;
            padding: 5px;
            margin-top: 24px;
        }

        .mobBtn {
            margin-top: 23px;
        }
    }


    #gateinContainer {
        max-height: 700px;
    }
</style>


<script src="~/js/app.js/ReProcessGateIn.js"></script>

<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>
               Re-Process Arrival Boxes
            </h3>
        </div>
        <div class="title_right">
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <div id="gateinContainer"></div>
                    <div class="ln_solid"></div>
                    <div class="form-horizontal form-label-left">
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-primary" style="float:right;" type="button" id="btnSubmit" onclick="gateIn()">Save & create EDI</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
   
</div>
