@{
    var ShippingAgent = (IEnumerable<SelectListItem>)ViewData["ShippingAgent"];

    var EmptyContainerTariff = (IEnumerable<SelectListItem>)ViewData["EmptyContainerTariff"];
}
<script src="~/js/app.js/EmptyContainerTariffView.js"></script>

<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>Empty Container Traiff</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <form class="form-horizontal form-label-left">



                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Agent <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("ShippingAgentId", ShippingAgent, "--Select Agent--", new { @class = "form-control select2", @id = "shippingAgentId" })
                            </div>
                        </div>
                         
                         
                        <div class="form-group" id="gridContainer">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <form class="form-horizontal form-label-left">



                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Storage Tariff <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("EmptyContainerTariffId", EmptyContainerTariff, "--Select Storage--", new { @class = "form-control select2", @id = "emptyContainerTariffId" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12" for="first-name" style=" text-align: center; color: red; ">

                                When the limit of the day have been end user  type (OVER) in  description  and number of days
                            </label>

                        </div>

                        <div class="form-group" id="gridContainerStorageTariff">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>


<script>
    $('.select2').select2();
</script>
