<script src="~/lib/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>
<script src="~/lib/devextreme/js/dx.aspnet.mvc.js"></script>
<script src="~/js/app.js/IGMTariffInformation.js"></script>

<style>
    .newbox {
        text-align: center;
        padding: 3px 0px 3px 0px;
        font-size: 14px;
        font-weight: 600;
        margin: -3px -10px 10px -10px;
        /* color: white; */
        background: #e9e9e9;
        border-bottom: 1px solid #d1d1d1;
    }
</style>

<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>IGM Tariff Information</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">

                    <div class="form-horizontal form-label-left row">
                        <div class="x_panel">

                            <div class="form-horizontal form-label-left row">

                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="item form-group  x_panel">
                                        <div class="newbox">
                                            Container Type
                                        </div>

                                        <div class="radio" style="display: inline-block;">
                                            <label>
                                                <input type="radio" id="CFS" name="type" value="CFS" onclick="showFilters()" style="position: absolute;width: 40%;  height: 60%;  margin-left: -20px;  margin-top: 1px;">   CFS
                                            </label>
                                        </div>
                                        <div class="radio" style="display: inline-block;">
                                            <label>
                                                <input type="radio" id="CY" value="CY" name="type" onclick="showFilters()" style="position: absolute;width: 40%;  height: 60%;  margin-left: -20px;  margin-top: 1px;">   CY
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="filters">

                            </div>
                            <div class="container-index">

                            </div>

                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="item form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                            Agent:
                                        </label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input class="form-control" id="shippingAgentName" type="text" name="location">
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-md-4 col-sm-4 col-xs-12">
                <div class="item form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">

                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <button class="btn btn-primary" onclick="refershIndextariff( )"> Refersh Agent Tariff </button>
                    </div>
                </div>
            </div>*@
                            </div>


                            <div class="row">
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 " for="name">
                                            Size 20
                                        </label>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" id="amountSize20" name="AmountSize20">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 " for="name">
                                            Size 40
                                        </label>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" id="amountSize40" name="AmountSize40">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 " for="name">
                                            Size 45
                                        </label>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" id="amountSize45" name="AmountSize45">
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class=" form-group">
                                        <button type="button" onclick="UpdateContainerSizeAmount()" class="btn btn-success" style="float:right">Update</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="ln_solid"></div>


                    @*<div class="form-horizontal form-label-left row">
                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <div id="indexTariffGrid">

                                </div>

                            </div>

                        </div>*@
                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="x_content">
                                <div id="indexTariffGrid"></div>

                            </div>

                        </div>

                    </div>
                    <div class="ln_solid"></div>

                    @*<div class="row">

                            <div class="col-sm-12">
                                <div class="x_content">
                                    <div id="tariffGrid">

                                    </div>
                                </div>
                            </div>

                        </div>*@
                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="x_content">
                                <div id="tariffGrid"></div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
