@{

    var VesselExport = (IEnumerable<SelectListItem>)ViewData["VesselExport"];

    var ExportContainer = (IEnumerable<SelectListItem>)ViewData["ExportContainer"];


}

<script src="~/js/app.js/DeleteAssociatedGD.js"></script>

<div class="right_col" role="main">
    <div class="page-title">
        <div class="row">
            <div class="col-md-11">
                <div class="title_left">
                    <h3>Roll Back Associated GD</h3>
                </div>

                <div class="col-md-1">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content" id="">

                        <div class="form-horizontal form-label-left row">
                            <div class="col-md-3">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Container
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @Html.DropDownList("ExportContainerId", ExportContainer, "Select Container", new { @class = "form-control select2", @id = "exportContainer" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Vessel
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @Html.DropDownList("VesselExport", VesselExport, "Select Vessel", new { @class = "form-control select2", @id = "vesselExport" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Voyage
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12" id="voayges">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="item form-group">
                                    <button type="button" class="btn btn-primary" style="float:right;" onclick="findExportContainerItems()">Find</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div id="large-indicator"></div>
                    <div id="ExportContainerItem"></div>
                    <div class="ln_solid"></div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <button id="btnSubmit" type="button" style="float:right;" onclick="AddExportContainerItems()" class="btn btn-success">Submit</button>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.select2').select2();
</script>