@{


    var Goods = (IEnumerable<SelectListItem>)ViewData["Goods"];
    // var Consigne = (IEnumerable<SelectListItem>)ViewData["Consigne"];

    var ShippingLine = (IEnumerable<SelectListItem>)ViewData["ShippingLine"];

    var ShippingAgent = (IEnumerable<SelectListItem>)ViewData["ShippingAgent"];

    var Shipper = (IEnumerable<SelectListItem>)ViewData["Shipper"];

    var PortAndTerminal = (IEnumerable<SelectListItem>)ViewData["PortAndTerminal"];

}

<style>


    input[type=text]:disabled {
        background: #dddddd;
    }

    .error {
        color: red;
    }

    .newbox {
        text-align: center;
        padding: 3px 0px 3px 0px;
        font-size: 14px;
        font-weight: 600;
        margin: -3px -10px 10px -10px;
        color: white;
        background: #2a3f54;
        border-bottom: 1px solid #d1d1d1;
    }

    #error {
        visibility: hidden;
        width: 200px;
        background-color: #d25656;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        z-index: 1;
        font-size: 17px;
    }

        #error.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
</style>

<script src="~/js/app.js/IGMUploading.js"></script>

<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>IGM-Uploading</h3>
        </div>

    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
 
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12" for="name">
                                        IGM Number:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @*<div id="igmno"></div>*@

                                        <input type="text" class="form-control" id="igmno"  required="required" />

                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-6 col-sm-6 col-xs-12"></div>

                            <div class="col-md-1 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <button type="button" class="btn btn-default" onclick="ProcessBtn()" style="float: right;">Process</button>

                                </div>
                            </div>
                            <div class="col-md-1 col-sm-4 col-xs-12">
                                <div class="item form-group">

                                    <button type="button" class="btn btn-success" onclick="RefershBtn()" style="float: right;">Refersh</button>
                                </div>
                            </div>*@
                             
                        </div>
                         
 
                          
                        <div class="form-horizontal form-label-left">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <button class="btn btn-primary" style="float:right;" onclick="UploadInfo()" type="button" id="btnSubmit">Upload Info</button>
                                </div>
                            </div>
                        </div>
                     
                </div>
            </div>
        </div>
    </div>



     

     
</div>
<script>
    $('.select2').select2();
</script>
