@*@{
    var deliveryOders = (IEnumerable<DeliveryOrder>)ViewData["deliverOrder"];

}*@
<script src="~/js/app.js/GetAllDeliveryOrders.js"></script>
<div class="right_col" role="main">
    <div class="page-title">
        <div class="row">
            <div class="col-md-11">
                <div class="title_left">
                    <h3>Delivery Orders</h3>
                </div>
            </div>
            <div class="col-md-1">

            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive">
                                <div id="gridContainer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
