<script src="~/js/app.js/AuctionAmountView.js"></script>
<div class="right_col" role="main">
    <div class="x_panel">

        <div class="page-title">
            <div class="row">
                <div class="col-md-11">
                    <div class="title_left">
                        <h3>Auction Amount</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="clearfix"></div>
    <form class="form-horizontal form-label-left" novalidate="" id="AuctionForm">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12 ">
                                <div class="form-group">
                                    <label class="control-label col-md-4 " for="name">
                                        Rate 20
                                    </label>
                                    <div class="col-md-8">
                                        <input type="number" class="form-control mask" id="rate20" name="Rate20" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 ">
                                <div class="form-group">
                                    <label class="control-label col-md-4 " for="name">
                                        Rate 40
                                    </label>
                                    <div class="col-md-8">
                                        <input type="number" class="form-control mask" id="rate40" name="Rate40" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 ">
                                <div class="form-group">
                                    <label class="control-label col-md-4 " for="name">
                                        Rate 45
                                    </label>
                                    <div class="col-md-8">
                                        <input type="number" class="form-control mask" id="rate45" name="Rate45" required="required">
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12 ">
                                <div class="form-group">
                                    <label class="control-label col-md-4 " for="name">
                                        CBM
                                    </label>
                                    <div class="col-md-8">
                                        <input type="number" class="form-control mask" id="cbm" name="CBM" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 ">
                                <div class="form-group">
                                    <label class="control-label col-md-4 " for="name">
                                        Weight
                                    </label>
                                    <div class="col-md-8">
                                        <input type="number" class="form-control mask" id="weight" name="Weight" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 ">
                                <div class="form-group">
                                    <label class="control-label col-md-4 " for="name">
                                        Handling Weight
                                    </label>
                                    <div class="col-md-8">
                                        <input type="number" class="form-control mask" id="hanndlingWeight" name="HanndlingWeight" required="required">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class=" form-group">
                                    <button type="button" onclick="UpdateAuctionAmount()" class="btn btn-success" style="float:right">Update</button>
                                </div>
                            </div>
                        </div>
                 </div>
            </div>
        </div>
    </div>
    </form>

</div>
