@{

    var Bidders = (IEnumerable <SelectListItem>) ViewData["Bidders"];
  
    }

    <style>
        .newbox {
            text-align: center;
            padding: 3px 0px 3px 0px;
            font-size: 14px;
            font-weight: 600;
            margin: -3px -10px 10px -10px;
            color: white;
            background: #2a3f54;
            border-bottom: 1px solid #d1d1d1;
        }


        .error {
            color: red;
        }



        #error {
            visibility: hidden;
            width: 200px;
            background-color: #d25656;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            z-index: 1;
            font-size: 17px;
        }

            #error.show {
                visibility: visible;
                -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
                animation: fadein 0.5s, fadeout 0.5s 2.5s;
            }
    </style>
    <script src="~/js/app.js/AuctionInformation.js"></script>

    <style>
        body {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>


    <div class="right_col" role="main">
        <div class="page-title">
            <div class="row">
                <div class="col-md-11">
                    <div class="title_left">
                        <h3>Auction Information</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_content" id="odform">
                        <form class="form-horizontal form-label-left" id="AuctionForm">
                            @* <partial name="~/Areas/Import/Views/Shared/_Filters_Container_Index.cshtml" />*@


                            <div class="form-horizontal form-label-left row">

                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="item form-group  x_panel">
                                        <div class="newbox">
                                            Container Type
                                        </div>

                                        <div class="radio" style="display: inline-block;">
                                            <label>
                                                <input type="radio" id="CFS" name="type" value="CFS" onclick="showFilters()" style="position: absolute;width: 40%;  height: 60%;  margin-left: -20px;  margin-top: 1px;">   CFS
                                            </label>
                                        </div>
                                        <div class="radio" style="display: inline-block;">
                                            <label>
                                                <input type="radio" id="CY" value="CY" name="type" onclick="showFilters()" style="position: absolute;width: 40%;  height: 60%;  margin-left: -20px;  margin-top: 1px;">   CY
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="filters">

                            </div>

                            <div class="form-horizontal form-label-left row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                            Auction Lot No<span class="required">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" id="AuctionNo" required="required" name="AuctionLotNumber" class="form-control col-md-7 col-xs-12">
                                            <span class="error" id="AuctionNoerror"></span>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                            Custom Do No <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" required="required" id="customDoNo" name="CustomDoNo" class="form-control col-md-7 col-xs-12">
                                            <span class="error" id="customDoNoerror"></span>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                            Auction Date
                                        </label>
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" class="form-control has-feedback-left" id="single_cal1" name="AuctionDate" aria-describedby="inputSuccess2Status">
                                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-horizontal form-label-left row">
                               
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label  col-md-4 col-xs-12" for="first-name">
                                            Bidder <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8 col-xs-12">
                                            @Html.DropDownList("BidderId", Bidders, "Select Bidder", new { @class = "form-control select2", @id = "bidder", @required = "required" })
                                            <span class="error" id="bidderNameerror"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                            Final Bid Amount  <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" required="required" id="finalBidAmount" name="FinalBidAmount" class="form-control col-md-7 col-xs-12" readonly>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                            Custom DD ate
                                        </label>
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" class="form-control has-feedback-left" id="single_cal2" name="CustomDoDate" aria-describedby="inputSuccess2Status">
                                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-horizontal form-label-left row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                            Bank Voucher No 25%   <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" required="required" onkeyup="findTotal()" id="bankVoucherNo25" name="BankVoucherNo25" class="form-control col-md-7 col-xs-12">
                                            <span class="error" id="bankVoucherNo25error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                            Bank Voucher No 75%    <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="text" required="required" onkeyup="findTotal()" id="bankVoucherNo75" name="BankVoucherNo75" class="form-control col-md-7 col-xs-12">
                                            <span class="error" id="bankVoucherNo75error"></span>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>


                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" id="btnCancel" class="btn btn-primary" style="float:right;">Cancel</button>
                                    <button id="btnSubmit" type="button" onclick="submitAuction()" class="btn btn-success" style="float:right;">Submit</button>
                                    @*   <a id="gtbtn" class="btn btn-success" onclick="routetogatePass()" style="display:none">Gate Pass</a>*@
                                    <a id="btnSubmitUpdate" class="btn btn-success" onclick="updateauctionInfo()" style="display:none ; float: right;">Update</a>

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 