@{
    var banks = (IEnumerable<SelectListItem>)ViewData["banks"];

    var partys = (IEnumerable<SelectListItem>)ViewData["partys"];
}
<style>
    .error {
        color: red;
    }



    #error {
        visibility: hidden;
        width: 200px;
        background-color: #d25656;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        z-index: 1;
        font-size: 17px;
    }

        #error.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
</style>
<script src="~/js/app.js/ChequeReceive.js"></script>

<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>Cheque Received</h3>
        </div>

        <div class="title_right">

        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">

                    <form class="form-horizontal form-label-left"  id="ChequeReceivedForm">
                        <div class="form-horizontal form-label-left row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class=" form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Date
                                    </label>
                                    @*<fieldset>*@
                                    <div class="control-group">
                                        <div class="controls">
                                            @*<input type="date" class="form-control has-feedback-left" name="Date" >*@

                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="datetime" class="form-control has-feedback-left" id="single_cal1" name="Date" aria-describedby="inputSuccess2Status">
                                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                            </div>
                                        </div>
                                    </div>
                                    @*</fieldset>*@
                                </div>
                            </div>


 



                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label  col-md-4 col-xs-12" for="first-name">
                                        Party <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-xs-12">
                                        @Html.DropDownList("PartyId", partys, "Select Party", new { @class = "form-control select2", @id = "party", @required = "required" })
                                        <span class="error" id="partyerror"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label  col-md-4 col-xs-12" for="first-name">
                                        Bank <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-xs-12">
                                        @Html.DropDownList("BankId", banks, "Select Bank", new { @class = "form-control select2", @id = "bank", @required = "required" })
                                        <span class="error" id="bankerror"></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-horizontal form-label-left row">

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Amount
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="amount" name="Amount" required>
                                        <span class="error" id="amounterror"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class=" form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Cheque Date
                                    </label>
                                    @*<fieldset>*@
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class="col-md-8 col-sm-8 col-xs-12">
                                                    <input type="datetime" class="form-control has-feedback-left" id="single_cal2" name="ChequeDate" aria-describedby="inputSuccess2Status">
                                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                                </div>
                                            </div>
                                        </div>
                                    @*</fieldset>*@
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Type
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select class="form-control" id="type" name="Type" required>
                                            <option selected disabled>--Select Type--</option>
                                            <option value="Cheque">Cheque</option>
                                            <option value="PayOrder">PayOrder</option>
                                            <option value="FundTransferOnline">Online / Fund Transfer</option>
                                        </select>
                                        <span class="error" id="typeerror"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal form-label-left row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Cheque Number
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="number" name="Number" required>
                                        <span class="error" id="chequeNumbererror"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" id="btnCancel" class="btn btn-primary" style="float:right;">Cancel</button>
                                <button type="button" id="btnSubmit" onclick="submitChequeReceived()" class="btn btn-success" style="float:right;">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $('.select2').select2();
</script>
