@{
    var banks = (IEnumerable<SelectListItem>)ViewData["banks"];     
}
<script src="~/js/app.js/ExcessRefundView.js"></script>

<style>
    .error {
        color: red;
    }
     
    #error {
        visibility: hidden;
        width: 200px;
        background-color: #d25656;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        z-index: 1;
        font-size: 17px;
    }

        #error.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
</style>

<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>Excess Amount Refund</h3>
        </div>
        <div class="title_right">
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">

                    <form class="form-horizontal form-label-left" id="RefoundAmountForm">
                        <div class="form-horizontal form-label-left row">


                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Knock Of Invoice
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="knockofinvoice" name="InvoiceNo" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Excess Amount
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="number" class="form-control mask" id="excessAmount" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">

                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <button id="btnSubmitInovice No" type="button" onclick="FindRecord()" class="btn btn-success" style="float: right;">Find</button>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="form-horizontal form-label-left row">


                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Cheque No :
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="chequeNumber" name="ChequeNumber" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Cheque Date
                                    </label>
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="datetime" class="form-control has-feedback-left" id="single_cal2" name="ChequeDate" aria-describedby="inputSuccess2Status">
                                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Amount :
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="number" class="form-control" id="amount" name="Amount" required>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-horizontal form-label-left row">


                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        In Favorof :
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="inFavorof" name="InFavorof" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        AICT Service Charges :
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="number" class="form-control" id="aictserviceCharges" name="AICTServiceCharges" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label  col-md-4 col-xs-12" for="first-name">
                                        Bank <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-xs-12">
                                        @Html.DropDownList("BankId", banks, "Select Bank", new { @class = "form-control select2", @id = "bank", @required = "required" })
                                    </div>
                                </div>
                            </div>




                        </div>

                        <div class="form-horizontal form-label-left row">


                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Online Acc Title :
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="onllineAccountTitle" name="OnllineAccountTitle" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Online Acc Amount :
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="number" class="form-control mask" id="onllineAccountAmount" name="OnllineAccountAmount" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Online Account Number :
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="onllineAccountNumber" name="OnllineAccountNumber" required>
                                    </div>
                                </div>
                            </div>




                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" id="btnCancel" class="btn btn-primary">Cancel</button>
                                <button type="button" id="btnSubmit" onclick="submitRefundAmount()" class="btn btn-success">Submit</button>
                            </div>
                        </div>


                    </form>


                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="x_content">
                                <div id="detailGrid"></div>

                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('.select2').select2();
</script>
