@{
    var Agents = (IEnumerable<SelectListItem>)ViewData["Agents"];

}

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
<script src="~/js/app.js/AgingReportCFS.js"></script>

<div class="right_col" role="main">
    <div class="page-title x_panel">
        <div class="title_left">
            <h3>
                CARGO AGING REPORT
            </h3>
        </div>
        <div class="title_right">

        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">


    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content" id="">



                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content" id="">

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label  col-md-3" for="first-name">
                                                Type :
                                            </label>
                                            <div class="col-md-9">
                                                <select class="form form-control" id="descTtype">
                                                    <option value="Yes">With Description</option>
                                                    <option value="No">WithOut Description</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label  col-md-3" for="first-name">
                                                ShippingAgent
                                            </label>
                                            <div class="col-md-9">
                                                @Html.DropDownList("ShippingAgentId", Agents, "Select Shipping Agent", new { @class = "form-control select2", @id = "shippingagent", required = "required" })

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label  col-md-3" for="first-name">
                                                From :
                                            </label>
                                            <div class="col-md-9">
                                                <input type="date" id="fromdate" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label  col-md-3" for="first-name">
                                                To :
                                            </label>
                                            <div class="col-md-9">
                                                <input type="date" id="todate" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" id="btnSubmitReport" class="btn btn-dark" onclick="myFunction()" style="float:right">Submit</button>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div id="large-indicator"></div>
                <div class="x_content" id="repotdata">

                </div>
            </div>
        </div>

    </div>

</div>


