<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
<script src="~/js/app.js/CargoAgingReportCFSAndCY.js"></script>


<div class="right_col" role="main">
    <div class="page-title x_panel">
        <div class="title_left">
            <h3>
                Cargo Aging Report
            </h3>
        </div>


    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content" id="">
                    <div class="row">

                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label class="control-label  col-md-4 col-xs-12" for="first-name">
                                    Type <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-xs-12">
                                    <select class="form-control" id="type">
                                        <option value="0">Select </option>
                                        <option value="1">CFS </option>
                                        <option value="2">CY </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">

                            @{Html.RenderPartial("_DateFilter"); }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div id="large-indicator"></div>
                <div class="x_content" id="repotdata">

                </div>
            </div>
        </div>

    </div>

</div>
