@{
    var agents = (IEnumerable<SelectListItem>)ViewData["Agents"];
}
<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
<script src="~/js/app.js/ContianerTrackingReportCFSAndCYView.js"></script>


<div class="right_col" role="main">
    <div class="page-title x_panel">
        <div class="title_left">
            <h3>
                Container Tracking 
            </h3>
        </div>






    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content" id="">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="control-group">
                                <div class="controls">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Type:
                                    </label>
                                    <div class="col-md-9">
                                        <select class="form form-control" id="type">
                                            <option class="form form-control" value="CFS / CY">CFS / CY</option>
                                            <option class="form form-control" value="CFS">CFS</option>
                                            <option class="form form-control" value="CY">CY</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label  col-md-4 col-xs-12" for="first-name">
                                   Mater Line
                                </label>
                                <div class="col-md-8 col-xs-12">
                                    @Html.DropDownList("MasterShippingAgentId", agents, "Select Shipping Agent", new { @class = "form-control select2", @id = "agentId", required = "required" })

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">

                            @{Html.RenderPartial("_DateFilter"); }
                        </div>
                    </div>
                     
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div id="large-indicator"></div>
                <div class="x_content" id="repotdata">

                </div>
            </div>
        </div>

    </div>

</div>


<script>
    $('.select2').select2();
</script>
