@{
    var agents = (IEnumerable<SelectListItem>)ViewData["Agents"];
}
<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>




<div class="right_col" role="main">
    <div class="page-title x_panel">
        <div class="title_left">
            <h3>
                Delivery Report
            </h3>
        </div>


    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">




                    <div class="form-horizontal form-label-left row">

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                    Shipping Agent <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @Html.DropDownList("ShippingAgentId", agents, "Select Shipping Agent", new { @class = "form-control select2", @id = "agentId", required = "required" })

                                </div>
                            </div>
                        </div>
                        @* @{Html.RenderPartial("_DateFilter"); }*@

                    </div>
                    <div class="form-horizontal form-label-left row">

                        <div class="col-md-12">
                            @{Html.RenderPartial("_DateFilter"); }
                        </div>


                    </div>

                    <div class="form-horizontal form-label-left row">
                        <label class="col-md-4 col-sm-4 col-xs-12" for="first-name">

                        </label>
                        <div class="col-md-8 col-xs-12">

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    @*<div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-8">

                @{Html.RenderPartial("_DateFilter"); }
            </div>
        </div>*@
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div id="large-indicator"></div>
                <div class="x_content" id="repotdata">

                </div>
            </div>
        </div>

    </div>

</div>


<script>
    $('.select2').select2();
</script>