

<script src="~/js/app.js/InquiryFormView.js"></script>


<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Inquiry Form
            </h3>
        </div>
        <div class="title_right">
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">

                    <div class="row">

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="name">
                                    Vir No: <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @(Html.DevExtreme()
                                                .Autocomplete()
                                                .ID("virnolist")
                                                .DataSource(d => d.Mvc()
                                                .Controller("APICalls")
                                                .Area("")
                                                .LoadAction("Getvirno"))
                                                .Placeholder("Type Vir Number...")
                                                .OnValueChanged("igm_changed"))
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                    Index #
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12" id="containerIndex">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" onclick="showcargoDetaildesc()" style=" float: right;"> View Detail</button>
                            </div>
                        </div>





                    </div>

                    <div class="row">

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="name">
                                    Container No: <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @(Html.DevExtreme()
                                                .Autocomplete()
                                                .ID("containerlist")
                                                .DataSource(d => d.Mvc()
                                                .Controller("APICalls")
                                                .Area("")
                                                .LoadAction("Getigmocontainers"))
                                                .Placeholder("Type Container No...")
                                                .OnValueChanged("Container_changed"))
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                    IGM #
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12" id="igmlists">

                                </div>
                            </div>
                        </div>



                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                    Index #
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12" id="Indexlists">

                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-success" onclick="showcargoDetailsec()" style=" float: right;"> View Detail</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="name">
                                    BL No: <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @(Html.DevExtreme()
                                                .Autocomplete()
                                                .ID("bllist")
                                                .DataSource(d => d.Mvc()
                                                .Controller("APICalls")
                                                .Area("")
                                                .LoadAction("GetBlNumberList"))
                                                .Placeholder("Type BL No...")
                                                .OnValueChanged("bl_changed"))
                                </div>
                            </div>
                        </div>

                     

                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-warning" onclick="showbl_changed()" style=" float: right;"> View Detail</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">

                    <form class="form-horizontal form-label-left" novalidate="" id="InquiryForm">


                        <div class="row">


                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        BL No:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="blnumber" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Container No:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="ContainerNumber" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Manifest Qty:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="manifestQty" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Packge Type:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="packgeType" readonly>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row">


                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        CRN No:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="crnNumber" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        DO No:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="dono" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Vessel:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="vesselname" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Vessel Arrival:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="date" class="form-control has-feedback-left" id="vesselArrival" readonly>
                                    </div>
                                </div>
                            </div>


                        </div>


                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Voyage:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="voyage" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        IGM Date:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="date" class="form-control has-feedback-left" id="igmdate" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Line:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="linename" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        AICT Arrival:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="date" class="form-control has-feedback-left" id="aictArrival" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Truck In:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="truckin" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        CFS ! CY :
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control has-feedback-left" id="cfscy" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        LCL FCL:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="lclFCL" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Size:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control has-feedback-left" id="size" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Type:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="type" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Destuff Date:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="date" class="form-control has-feedback-left" id="DestuffDate" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Truck Out:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="TruckOut" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Delivery Date:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="date" class="form-control has-feedback-left" id="DeliveryDate" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Brt:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="brt" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Consignee:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="Consignee" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        BL No:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="BLNo" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Clearing Agent:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="ClearingAgent" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Line Do No:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="LineDoNo" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Dis Packages:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="DisPackages" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Dis Qty:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="DisQty" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Exam Date:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="date" class="form-control has-feedback-left" id="ExamDate" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Exam Y/N:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="isexamin" readonly>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        GatePass No:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control has-feedback-left" id="GatePassNo" readonly>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Gate Pass Date:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="date" class="form-control has-feedback-left" id="GatePassDate" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-2 col-sm-4 col-xs-12" for="name">
                                        Description:
                                    </label>
                                    <div class="col-md-10 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="Description" readonly>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-6 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-2 col-sm-4 col-xs-12" for="name">
                                        Release Status:
                                    </label>
                                    <div class="col-md-10 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control has-feedback-left" id="ReleaseStatus" readonly>
                                    </div>
                                </div>
                            </div>



                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div id="large-indicator"></div>
                <div class="x_content" id="gridContainer">

                </div>
            </div>
        </div>

    </div>
</div>

