
<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
<script src="~/js/app.js/LetPassBalance.js"></script>



<div class="right_col" role="main">
    <div class="page-title x_panel">
        <div class="title_left">
            <h3>
                Let Pass Balances Report
            </h3>
        </div>
        <div class="title_right"></div>
    </div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div id="large-indicator"></div>
                <div class="x_content" id="repotdata">

                </div>

                @*<iframe class="x_content" id="FrameToPrint"  type="application/pdf" name="PrintingFrame"  ></iframe>*@ 

            </div>
        </div>

    </div>
</div>