<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
<script src="~/js/app.js/ListofOutGoingContainer.js"></script>

<style>
    .dxrd-designer-wrapper .dx-shadow.dxrd-tab-panel-right, .dxrd-designer-wrapper .dxrd-right-panel-collapse.dxrd-tab-panel-right, .dxrd-designer-wrapper .dxrd-right-panel-collapse.dxrd-tab-panel-right .dxrd-right-panel-collapse-image, .dxrd-designer-wrapper .dxrd-right-tabs.dxrd-tab-panel-right {
        display: none;
    }

    .dxrd-preview.dxrd-designer-wrapper .dxrdp-toolbar-scrollable.dxrd-toolbar-wrapper .dxrd-toolbar {
        text-align: center;
    }
</style>

<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>
                List of Out Going Container
            </h3>
        </div>
        <div class="title_right">

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div id="large-indicator"></div>
                <div class="x_content" id="repotdata">

                </div>
            </div>
        </div>

    </div>

</div>