<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
<script src="~/js/app.js/SalesTaxInvoiceAution.js"></script>



<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Sales Tax  Invoice
            </h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div id="large-indicator"></div>
                <div class="x_content" id="repotdata">
                </div>
            </div>
        </div>

    </div>

</div>
