
<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
<script src="~/js/app.js/ShortDailySalesSummary.js"></script>


<div class="right_col" role="main">
    <div class="page-title x_panel">
        <div class="title_left">
            <h3>
                Daily Sales Summary
            </h3>
        </div>
        <div class="title_right">

        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">


    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content" id="">



                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content" id="">



                                <div class="row">

                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-8">
                                        @{Html.RenderPartial("_DateFilter"); }
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pad">
                                    <button type="button" id="asd" class="btn btn-dark" onclick="myFuncasdtion()">Submit</button>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div id="large-indicator"></div>
                <div class="x_content" id="repotdata">

                </div>
            </div>
        </div>

    </div>

</div>



<script>
    $('.select2').select2();
</script>