
<script>
    $(document).ready(function () {


    });
</script>

<div id="sidebar-menu" class="main_menu_side hidden-print main_menu side-bar-body ">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">

            <!-- menu -->
            <div id="MainMenu">
                    <a class="list-group-item side-bar-head">Export Menu</a>
                <div class="list-group panel list-scroll">
                    <a href="/Home/DashboardExport" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">Dashboard</a>

                    <a href="#demo14" class="list-group-item sidebar-menu" data-toggle="collapse" data-parent="#MainMenu">Loading Program <i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo14">
                        <a href="/Export/LoadingProgram/LoadingProgramView" class="list-group-item child_sidebar tabLink">Create Loading Program</a>
                        <a href="/Export/LoadingProgram/Index" class="list-group-item child_sidebar tabLink">Loading Programs</a>

                    </div>

                    <a href="/Export/EnteringCargo/EnteringCargoView" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">Entering Cargo</a>
                    <a href="/Export/CargoReceived/CargoReceivedView" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">Cargo Received</a>
                    <a href="/Export/Cargo/CargoView" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">Cargo Info</a>
                    <a href="/Export/ExportGroundedCargo/ExportGroundedCargoView" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">Grounded Cargo</a>
                    <a href="/Export/ExportContainer/CreateContainer" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">Create Container</a>
                    <a href="/Export/ExportContainer/AssociateGD" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">GD Association</a>
                    <a href="/Export/ExportContainer/DeletionOfContainerAssociated" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">Delete Container / GD</a>
                    <a href="/Export/GateInOut/GateOut" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">Gate Out</a>
                    <a href="/Export/POLocation/POLocationView" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">PO Location</a>
                    <a href="/Export/CustomerNOC/CustomerNOCView" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">Customer NOC</a>
                    <a href="/Export/EmptyReceiving/EmptyReceivingView" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">Empty Receiving</a>
                    <a href="/Export/GDHold/GDHoldView" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">GD Hold</a>
                    <a href="/Export/CargoRollOver/CargoRollOverView" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">Cargo Roll Over</a>
                    <a href="/Export/CustomerCredit/Index" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">Customer Credit</a>
                    <a href="/Export/Transshipment" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">Transshipment</a>
                    <a href="/Export/GDManagement/Index" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">GD Management</a>


                    <a href="#demo15" class="list-group-item sidebar-menu" data-toggle="collapse" data-parent="#MainMenu">Dray Off <i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo15">

                        <a href="/Export/Delivery/DeliveryOrder" class="list-group-item child_sidebar tabLink">Delivery Order</a>
                        <a href="/Export/Delivery/GatePass" class="list-group-item child_sidebar tabLink">GatePass</a>
                        <a href="/Export/GateInOut/GateOutGD" class="list-group-item child_sidebar tabLink">Gate-Out</a>
 
                        <a href="#SubMenu11" class="list-group-item sidebar-menu" data-toggle="collapse" data-parent="#SubMenu11">Dray Off Report <i class="fa fa-caret-down"></i></a>
                        <div class="collapse list-group-submenu" id="SubMenu11">
                            <a href="/Export/Reports/DeliveryOrderExport" class="list-group-item child_sidebar tabLink">Delivery Order</a> 
                        </div> 
                    </div>
 

                    <a href="#demo6" class="list-group-item sidebar-menu" data-toggle="collapse" data-parent="#MainMenu">EDI Messages <i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo6">
                                <a href="/Export/OPIA/OPIAView" class="list-group-item child_sidebar tabLink">OPIA</a>
                                <a href="/Export/OGDE/OGDEView" class="list-group-item child_sidebar tabLink">OGDE</a>
                                <a href="/Export/OEHC/OEHCView" class="list-group-item child_sidebar tabLink">OEHC</a>
                                <a href="/Export/OECM/OECMView" class="list-group-item child_sidebar tabLink">OECM</a>
                                <a href="/Export/OCRL/OCRLView" class="list-group-item child_sidebar tabLink">OCRL</a>
                                <a href="/Export/OSVM/OSVMView" class="list-group-item child_sidebar tabLink">OSVM</a>
                    </div>
                      
                    <a href="#demo17" class="list-group-item sidebar-menu" data-toggle="collapse" data-parent="#MainMenu">Export Setup <i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo17">
                        <a href="/Export/Commodity/CommodityView" class="list-group-item child_sidebar tabLink">Commodity</a>
                        <a href="/ShippingLine/ShippingLine" class="list-group-item child_sidebar tabLink">Shipping Line</a>
                        <a href="/Export/PortAndTerminal/PortAndTerminalView" class="list-group-item child_sidebar tabLink">Port And Terminal</a>
                        <a href="/Export/VesselExport/VesselExportView" class="list-group-item child_sidebar tabLink">Vessel</a>
                        <a href="/Export/VoyageExport/VoyageExportView" class="list-group-item child_sidebar tabLink">Voyage Export</a>
                        <a href="/Export/ClearingAgentExport/ClearingAgentExportView" class="list-group-item child_sidebar tabLink">Clearing Agent</a>
                        <a href="/Export/Shipper/ShipperView" class="list-group-item child_sidebar tabLink">Shipper</a>
                        <a href="/Export/ShippingAgentExport/ShippingAgentExportView" class="list-group-item child_sidebar tabLink">Shipping Agent</a>
                        <a href="/Export/PackageTypeExport/PackageTypeExportView" class="list-group-item child_sidebar tabLink">Package Type</a>
                        <a href="/Export/ExportLocationCodeList/ExportLocationCodeListView" class="list-group-item child_sidebar tabLink">Location Code List</a>
                        <a href="/Export/POLocation/POLocationView" class="list-group-item child_sidebar tabLink">PO Location </a>
                    </div>

                     
                    <a href="#demo8" class="list-group-item sidebar-menu" data-toggle="collapse" data-parent="#MainMenu">Invoice <i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo8">
                        <a href="/Export/InvoiceExport/InvoiceExportView" class="list-group-item child_sidebar tabLink">Create Export Invoice</a>
                        <a href="/Export/InvoiceExport/ReprintInvoice" class="list-group-item child_sidebar tabLink">Print/Cancel</a>
                     </div>


                    <a href="#demo19" class="list-group-item sidebar-menu" data-toggle="collapse" data-parent="#MainMenu">Cashier <i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo19">
                        <a href="/Export/PartyLedgerExport/ChequeReceiveExport" class="list-group-item child_sidebar tabLink">Cheque Receive</a>
                        <a href="/Export/PartyLedgerExport/RefundAmountExport" class="list-group-item child_sidebar tabLink">Refund Amount</a>
                        <a href="/Export/PartyLedgerExport/AmountReceivedExport" class="list-group-item child_sidebar tabLink">Amount Received </a>
                        <a href="/Export/PartyLedgerExport/UpdatePartyLedgerExport" class="list-group-item child_sidebar tabLink">Update Party Ledger</a>

                        <a href="#SubMenu12" class="list-group-item sidebar-menu" data-toggle="collapse" data-parent="#SubMenu12">Setup <i class="fa fa-caret-down"></i></a>
                        <div class="collapse list-group-submenu" id="SubMenu12">
                            <a href="/import/Bank/Bank" class="list-group-item child_sidebar tabLink">Bank</a>
                            <a href="/Export/PartyExport/PartyExportView" class="list-group-item child_sidebar tabLink">Party</a>
                        </div> 
                    </div>


                    <a href="#demo20" class="list-group-item sidebar-menu" data-toggle="collapse" data-parent="#MainMenu">Tarrif <i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo20">

                        <a href="/Export/TariffExport/TarifHeadExport" class="list-group-item child_sidebar tabLink">Tariff Head</a>
                        <a href="/Export/TariffExport/TariffExportCharges" class="list-group-item child_sidebar tabLink">Tariff Charges</a>
                        <a href="/Export/TariffExport/AgentTariffInformation" class="list-group-item child_sidebar tabLink">Agent Tariff</a>
                        <a href="/Export/TariffExport/GDTariff" class="list-group-item child_sidebar tabLink">GDTariff</a>
                        <a href="/SalesTax/SalesTaxView" class="list-group-item child_sidebar tabLink">Sales Tax</a>

                        <a href="#SubMenu14" class="list-group-item sidebar-menu" data-toggle="collapse" data-parent="#SubMenu14">Configuration <i class="fa fa-caret-down"></i></a>
                        <div class="collapse list-group-submenu" id="SubMenu14">
                            <a href="/Export/TariffExport/StorageTariffExport" class="list-group-item child_sidebar tabLink">Storage Tariff</a> 
                        </div>

                        <a href="#SubMenu15" class="list-group-item sidebar-menu" data-toggle="collapse" data-parent="#SubMenu15"> Account Reports <i class="fa fa-caret-down"></i></a>
                        <div class="collapse list-group-submenu" id="SubMenu15">
                            @*<a href="/Export/InvoiceExport/ExportDeletedInvoices" class="list-group-item child_sidebar tabLink">Deleted Invoices</a>*@
                            <a href="/Export/Reports/PartyLedgerExport" class="list-group-item child_sidebar tabLink">Party Ledger</a>
                            <a href="/Export/Reports/DailySalesReportExport" class="list-group-item child_sidebar tabLink">Daily Sales Export</a>
                            <a href="/Export/Reports/MonthlyBillingExport" class="list-group-item child_sidebar tabLink">Monthly Billing</a>
                            <a href="/Export/Reports/ChequeDetailReportExport" class="list-group-item child_sidebar tabLink">Cheque Detail</a>
                            <a href="/Export/Reports/DailyCollectionReportExport" class="list-group-item child_sidebar tabLink">Daily Collection</a>
                            <a href="/Export/Reports/DailyInvoiceReportExport" class="list-group-item child_sidebar tabLink">Daily Invoice</a>
                            <a href="/Export/Reports/ForwarderSOACBMWise" class="list-group-item child_sidebar tabLink">Forwarder SOA CBM Wise</a>
                            <a href="/Export/Reports/ForwarderSOABoxWise" class="list-group-item child_sidebar tabLink">Forwarder SOA BOX Wise</a>
                            <a href="/Export/Reports/OutstandingAmount" class="list-group-item child_sidebar tabLink">Outstanding Amount</a>
                            <a href="/Export/Reports/SoaApllOtherThenPIFFAReport" class="list-group-item child_sidebar tabLink">APLL OTHER THEN PIFFA</a>
                            <a href="/Export/Reports/SOADSVOtherThenPIFFA" class="list-group-item child_sidebar tabLink">DSV OTHER THEN PIFFA</a>
                            <a href="/Export/Reports/SoaEflOtherThenPIFFA" class="list-group-item child_sidebar tabLink">EFL OTHER THEN PIFFA</a>
                            <a href="/Export/Reports/GlobelLinkForAllPIFFASOASReport" class="list-group-item child_sidebar tabLink">GLOBELINK FOR ALL PIFFA</a>
                        </div>   
                    </div>
                     

                    @*<a href="#demo111" class="list-group-item sidebar-menu" data-toggle="collapse" data-parent="#MainMenu">Reports <i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo111">
                        <a href="/Export/Reports/AnfCargoCheckList" class="list-group-item child_sidebar tabLink">ANF Cargo Check List</a>
                        <a href="/Export/Reports/AnfReport" class="list-group-item child_sidebar tabLink">ANF Report</a>
                        <a href="/Export/Reports/CargoAlongsideReport" class="list-group-item child_sidebar tabLink">Cargo Along side position</a>
                        <a href="/Export/Reports/CargoAlongsideReportBaywise" class="list-group-item child_sidebar tabLink">Cargo Along side position Baywest</a>
                        <a href="/Export/Reports/CargoMEasurementCertificate" class="list-group-item child_sidebar tabLink">Cargo Measurement Certificate</a>
                        <a href="/Export/Reports/ExportAdvice" class="list-group-item child_sidebar tabLink">Export Advice</a>
                        <a href="/Export/Reports/KerryExport" class="list-group-item child_sidebar tabLink">Daily CFS Report</a>
                        <a href="/Export/Reports/DailyDSRReport" class="list-group-item child_sidebar tabLink">Daily DSR</a>
                        <a href="/Export/Reports/ExportGatePasses" class="list-group-item child_sidebar tabLink">Export Gate Pass</a>
                        <a href="/Export/Reports/ExportFinalReport" class="list-group-item child_sidebar tabLink">Export Final Stuffing</a>
                        <a href="/Export/Reports/ExportDailyCFSReport" class="list-group-item child_sidebar tabLink">Export Daily CFS</a>
                        <a href="/Export/Reports/SummaryofStuffing" class="list-group-item child_sidebar tabLink">Summary of Stuffing</a>
                        <a href="/Export/Reports/TerminalReceipt" class="list-group-item child_sidebar tabLink">Generate Terminal Receipt</a>
                        <a href="/Export/Reports/ListofExportFullOrEmptyContainers" class="list-group-item child_sidebar tabLink">Full/Empty Container</a>
                        <a href="/Export/Reports/ListofExportFullLCLCargoStuffedcontainer" class="list-group-item child_sidebar tabLink">Full/Empty Cargo Stuffed</a>
                        <a href="/Export/Reports/StatementShowingExportPosition" class="list-group-item child_sidebar tabLink"> Statement Showing Export Position</a>
                        <a href="/Export/Reports/ExportTellySheetSec" class="list-group-item child_sidebar tabLink"> Export  Stuffing Tally Sheet</a>
                        <a href="/Export/Reports/CargoReceivedStockAlongSidePosition" class="list-group-item child_sidebar tabLink">Cargo Received Stock Along Side Position</a>
                        <a href="/Export/Reports/TerminalReceiptSec" class="list-group-item child_sidebar tabLink">Terminal Receipt</a>
                        <a href="/Export/Reports/EmptyReceving" class="list-group-item child_sidebar tabLink">Empty Receving</a>
                    </div>*@

                </div>
                </div>
            </div>
        </div>
    </div> 