@model IEnumerable<ContainerIndex>


<script>
    //var containerdb;
    //function cdcdc() {
    //    containerdb = $('#containerdb').val();
    //    console.log(containerdb, "containerNumber");
    //}
    //$(function () {
    //    $('#containerdb').multiselect();


    //});

    //function selectAll() {

    //    var req =

    //    $('#containerdb option').prop('selected', true);

    //}

     
        $(document).ready(function () {
            $('.fav_clr').select2({
                placeholder: ' please select container ',
                width: '100%',
                border: '1px solid #e4e5e7',
            });
    });



    $("#select_all").change(function () {


        var status = this.checked;

        console.log("status", status)

        //$('#containerIndexCYdb option').prop('selected', status);
        if (status == true) {
            $(".fav_clr > option").prop("selected", "selected");
            $(".fav_clr").trigger("change");
        } else {
            $(".fav_clr > option").prop("selected", false);
            $(".fav_clr").trigger("change");
        }


    });

</script>

 


@*<select class="form-control" multiple required="required" id="containerdb" onchange="cdcdc()">*@
<select class="form-control fav_clr" multiple required="required" id="containerdb">
    @foreach (var item in Model)
    {
        <option value="@item.ContainerIndexId">@item.ContainerNo</option>
    }
</select>


<input type="checkbox" id="select_all"> select all


@*<button class="btn btn-primary" onclick="selectAll()">Select All</button>*@



@*<script>
        $('.select2').select2();
    </script>*@
