
<script>
    $(document).ready(function () {


    });
</script>

<div id="sidebar-menu" class="main_menu_side hidden-print main_menu side-bar-body ">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">

            <!-- menu -->
            <div id="MainMenu">
                    <a class="list-group-item side-bar-head">System Configurations</a>
                <div class="list-group panel">
                    <a href="/users/" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu"> Users</a>
                    <a href="/Roles/RolesView" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">Roles</a>
                    <a href="/permissions" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">Permissions</a>
                    <a href="/users/UsersEmailView" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu">Users Email</a>
                    <a href="/Company/ComapanyView" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu"> Company</a>
                    <a href="/DynamicReport/DynamicReports" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu"> Dynamic Report</a>
                    <a href="/DynamicReport/EDIMessages" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu"> File Download</a>
                    <a href="/DynamicReport/EDIMessagesExport" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu"> File Download By GD</a>
                    <a href="/DynamicReport/EDIMessagesImport" class="list-group-item sidebar-menu tabLink" data-parent="#MainMenu"> File Download By VIR</a>

                </div>
            </div>
        </div>
    </div>
</div> 