
<script>
    function Logout() {
        console.log("test");
    
        $.post('/Users/LogoutUser' , function (data) {
            console.log(data);
             top.location.href = '/Identity/Account/Login';
        });
        // 
    }
</script>

<div class="top_nav">
    <div class="nav_menu">

        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>



            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/image_preview.png" alt="">@User.Identity.Name
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li>
                            @Html.ActionLink("Profile", "Profile", "ProfileSettings")
                        </li>
                        <li>
                            <a href="javascript:;">

                                <span>Settings</span>
                            </a>
                        </li>

                        <li>

                            @*<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                                  asp-route-returnUrl="@Url.Page("/", new { area = "" })"*@
                                  @*method="post">*@
                                @*<button type="submit"> <i class="fa fa-sign-out pull-right"></i> Logout</button>*@
                                <button type="button" class="fa fa-sign-out pull-right" onclick="Logout()">  Logout</button>

                            @*</form>*@
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>



    </div>
</div>