
<style>

    #error {
        visibility: hidden;
        width: 200px;
        background-color: #d25656;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        z-index: 1;
        font-size: 17px;
    }

        #error.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
</style>

<script src="~/js/app.js/ReprintWaiver.js"></script>

<div class="right_col" role="main">
    <div class="page-title">
        <div class="row">
            <div class="col-md-11">
                <div class="title_left">
                    <h3>Waiver</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <form class="form-horizontal form-label-left" novalidate="" id="SearchDOForm">
                        <div class="form-horizontal form-label-left row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                        Waiver No # :
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12" id="invoiceNo">
                                        @(Html.DevExtreme()
                                                .Autocomplete()
                                                .ID("waiver")
                                                .DataSource(d => d.Mvc()
                                                .Controller("APICalls")
                                                .Area("")
                                                .LoadAction("GetUnUsedWaivers"))
                                                .Placeholder("Type Waiver No...")
                                                .OnValueChanged("waiver_changed"))
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                            </div>


                            @*<div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <button id="send" type="button" onclick="openwaiver()" class="btn btn-primary" style="float: right;">Route</button>
                                    </div>
                                </div>*@



                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="showhide" style="display:none" >

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-warning" onclick="BalancetoZero()" style="float: right;">100 % Zero</button>
                            <button type="button" class="btn btn-danger" onclick="DeleteWaiver()" style="float: right;">Delete</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div id="WaiverTariffgrid"></div>
                        </div>
                    </div>

                    <div id="WaiverTariffgrid"></div>

                    <div class="row">
                        @*<div class="col-md-12 col-sm-4 col-xs-12">
                <div class="item form-group">
                    <label class="control-label col-md-6 col-sm-4 col-xs-12" for="cnic">
                        Storage Total:
                    </label>
                    <div class="col-md-6 col-sm-8 col-xs-12">
                        <input type="number" class="form-control" name="StorageAmount" id="storageAmount" style="text-align: right;">
                    </div>
                </div>
            </div>*@
                        <div class="col-md-12 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-6 col-sm-4 col-xs-12" for="cnic">
                                    Remarks:
                                </label>
                                <div class="col-md-6 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control" id="remarks" style="text-align: right;">
                                </div>
                            </div>
                        </div>



                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="saveWaiverInfo()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>