@*<style>

        #error {
            visibility: hidden;
            width: 200px;
            background-color: #d25656;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            z-index: 1;
            font-size: 17px;
        }

            #error.show {
                visibility: visible;
                -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
                animation: fadein 0.5s, fadeout 0.5s 2.5s;
            }
    </style>
    <script>

        var billNo;

        function invoice_changed(data)
        {
            billNo = data.value;
        }

        function print_invoice() {

            window.open('/Export/reports/ExportBillInvoice?BillNo=' + billNo, "_blank");

        }

        function deleteInvoice() {


            let remarks = prompt('Type here');
            console.log("remarks", remarks)
       //     var x = confirm("Are You Sure");

            if (remarks != null) {
                $.post("/Export/InvoiceExport/DeleteInvoice?BillNo=" + billNo + '&remarks=' + remarks, function (data) {

                    showToast(data.message, "success");

                })
            }


        }

        function showToast(message, icon) {

            $.toast({
                heading: message,
                showHideTransition: 'slide',
                position: 'bottom-right',
                icon: icon
            });
        }

        function formfiled() {


        }

    </script>
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="row">
                <div class="col-md-11">
                    <div class="title_left">
                        <h3>Print Invoice</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <form class="form-horizontal form-label-left" novalidate="" id="SearchDOForm">
                            <div class="form-horizontal form-label-left row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                            Invoice # :
                                        </label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            @(Html.DevExtreme()
                                                    .Autocomplete()
                                                    .ID("invoice")
                                                    .DataSource(d => d.Mvc()
                                                    .Controller("APICalls")
                                                    .Area("")
                                                    .LoadAction("GetinvoicesExport"))
                                                    .Placeholder("Type Invoice Id...")
                                                    .OnValueChanged("invoice_changed"))
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12"> </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <button id="send" type="button" onclick="print_invoice()" class="btn btn-success" style="float: right;">Print</button>
                                        <button id="send" type="button" onclick="deleteInvoice()" class="btn btn-primary"  style="float: right;">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>*@



<style>

    #error {
        visibility: hidden;
        width: 200px;
        background-color: #d25656;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        z-index: 1;
        font-size: 17px;
    }

        #error.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
</style>

<script src="~/js/app.js/ReprintInvoice.js"></script>

<div class="right_col" role="main">
    <div class="page-title">
        <div class="row">
            <div class="col-md-11">
                <div class="title_left">
                    <h3>Print Invoice</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <form class="form-horizontal form-label-left" novalidate="" id="SearchDOForm">
                        <div class="form-horizontal form-label-left row">

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="cnic">
                                        Invoice No:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="invoiceNo">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <button id="send" type="button" onclick="FindInvoice()" class="btn btn-success">Find</button>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="cnic">
                                        GD Number:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="gdnumber">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <button id="send" type="button" onclick="FindInvoicebygd()" class="btn btn-success">Find By GD Number</button>
                                </div>
                            </div>

                        </div>

                        <div id="gateinContainer"></div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>