
<style>


    .error {
        color: red;
    }



    #error {
        visibility: hidden;
        width: 200px;
        background-color: #d25656;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        z-index: 1;
        font-size: 17px;
    }

        #error.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    input[type="date"] {
        color: #fff;
        position: relative;
    }

        input[type="date"]::-webkit-datetime-(t-year-field {
            position: absolute !important;
            border-left: 1px solid #8c8c8c;
            padding: 2px;
            color: #000;
            left: 56px;
        } input[type="date"]::-webkit-datetime-edit-month-field {
            position: absolute !important;
            border-left: 1px solid #8c8c8c;
            padding: 2px;
            color: #000;
            left: 26px;
        } input[type="date"]::-webkit-datetime-edit-day-field {
            position: absolute !important;
            color: #000;
            padding: 2px;
            left: 4px;
        }
</style>

<script src="~/js/app.js/CargoReceivedView.js"></script>

<div class="right_col" role="main">
    <div class="page-title">
        <div class="row">
            <div class="col-md-11">
                <div class="title_left">
                    <h3>Cargo Received</h3>
                </div>
            </div>
            <div class="col-md-1">
                <div class="title_right">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content" id="">
                    <form class="form-horizontal form-label-left" id="CargoReceivedForm">

                        <div class="form-horizontal form-label-left row">
                            <div class="col-md-4">

                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12" for="name">
                                        LP Number: <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @(Html.DevExtreme()
                                              .SelectBox()
                                              .ID("loadingProgramDetail")
                                              .ValueExpr("value")
                                              .DisplayExpr("text")
                                              .AcceptCustomValue(true)
                                              .SearchEnabled(true)
                                              .DataSource(d => d.Mvc()
                                                .Controller("APICalls")
                                                .Area("")
                                                .LoadAction("GetUnGateInLoadingProgramNumbers"))
                                                .Placeholder("Type Loading Program ...")
                                                .OnValueChanged("lpnumber_change"))
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-4">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Truck Number
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12" id="truckNumberBox">
                                        <div class="" id="TruckNumberBox">
                                        </div>
                                        <span class="error" id="TruckNumbererror"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                            </div>


                        </div>

                        <div class="form-horizontal form-label-left row">
                            <div class="col-md-4">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        GD Number
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="gdNumber" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Vehicle Received Date
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="date" class="form-control" id="vehicleReceivedDate" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                        Clearing Agent
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" id="clearingAgent" readonly>
                                        <span class="error" id="ClearingAgenterror"></span>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-horizontal form-label-left row">

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Agent Representative
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" id="cLearingAgentReprsentative" class="form-control" name="CLearingAgentReprsentative" required>
                                        <span class="error" id="CLearingAgentReprsentativeerror"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Agent CNIC
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" id="clearingAgentCNIC" class="form-control" name="ClearingAgentCNIC" required>
                                        <span class="error" id="ClearingAgentCNICerror"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Shipment Status (F/P)
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select class="form-control" id="packageType" name="PackageType" required>
                                            <option disabled selected>Select</option>
                                            <option value="F">F</option>
                                            <option value="P">P</option>
                                        </select>
                                        <span class="error" id="PackageTypeerror"></span>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="form-horizontal form-label-left row">

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Driver Name
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" id="driverName" class="form-control" name="DriverName" required>
                                        <span class="error" id="DriverNameerror"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Driver CNIC
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" id="driverCNIC" class="form-control" name="DriverCNIC" required>
                                        <span class="error" id="DriverCNICerror"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item form-group">
                                    <label class="col-md-4" for="name">
                                        Weight Declared By Driver
                                    </label>
                                    <div class="col-md-8">
                                        <input type="number" step="any" id="weightDeclaredByDriver" class="form-control" name="WeightDeclaredByDriver" required>
                                        <span class="error" id="WeightDeclaredByDrivererror"></span>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="form-horizontal form-label-left row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        No Of Packages Received
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="number" id="numberOfPackagesReceived" class="form-control" name="NumberOfPackagesReceived" required>
                                        <span class="error" id="NumberOfPackagesReceivederror"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Receving Start
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @(Html.DevExtreme().DateBox()
                                           .Type(DateBoxType.DateTime)
                                           .DisplayFormat("dd / MM / YYYY, hh:mm:ss")
                                           .Value(DateTime.Now)
                                           .Name("RecevingStartTime")
                                            .ID("recevingStartTime")

                                        )
                                        <span class="error" id="RecevingStartTimeerror"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Receving End
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @(Html.DevExtreme().DateBox()
                                                        .Type(DateBoxType.DateTime)
                                                         .DisplayFormat("dd / MM / YYYY, hh:mm:ss")
                                                        .Value(DateTime.Now)
                                                        .Name("RecevingEndTime")
                                                        .ID("recevingEndTime")

                                        )
                                        <span class="error" id="RecevingEndTimeerror"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-horizontal form-label-left row">

                            <div class="col-md-4">
                                <div class="item form-group">
                                    <label class="control-label col-md-4" for="name">
                                        C R Condition
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" id="cargoRecevingCondition" class="form-control" name="CargoRecevingCondition" required>
                                        <span class="error" id="CargoRecevingConditionerror"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button id="btnSubmit" type="button" style="float:right;" onclick="AddCargoReceived()" class="btn btn-success">Submit</button>
                            <a id="btnSubmitUpdate" class="btn btn-success" onclick="updateCargoReceived()" style="display:none ; float: right;">Update</a>
                            <a id="btnEDI" class="btn btn-warning" onclick="gateInEDI()" style="float: right;">Gate-in & Create EDI</a>
                            <button type="button" id="btnCancel" class="btn btn-primary" onclick="restform()" style="float:right;">Cancel</button>
                            <a id="btn2" class="btn btn-info" onclick="routetoCIRrepost()" style="display:none; float: right;">Print</a>

                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div id="loadingProgramDetal"></div>
                    <div class="ln_solid"></div>
                </div>
            </div>
        </div>
    </div>
</div>


