
<style>
    .newbox {
        text-align: center;
        padding: 3px 0px 3px 0px;
        font-size: 14px;
        font-weight: 600;
        margin: -3px -10px 10px -10px;
        color: white;
        background: #2a3f54;
        border-bottom: 1px solid #d1d1d1;
    }

    #error {
        visibility: hidden;
        width: 200px;
        background-color: #d25656;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        z-index: 1;
        font-size: 17px;
    }

        #error.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
</style>

<script src="~/js/app.js/TruckInOutProcessView.js"></script>
<div class="right_col" role="main">
    <div class="page-title">
        <div class="row">
            <div class="col-md-11">
                <div class="title_left">
                    <h3>Truck In Out Process</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content" id="odform">

                    <form class="form-horizontal form-label-left" id="TruckInOutProcessForm">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="item form-group  x_panel">
                                <div class="newbox">
                                    Container Type
                                </div>

                                <div class="radio" style="display: inline-block;">
                                    <label>
                                        <input type="radio" id="CFS" name="type" value="CFS" onclick="showFilters()" style="position: absolute;width: 40%;  height: 60%;  margin-left: -20px;  margin-top: 1px;">   CFS
                                    </label>
                                </div>
                                <div class="radio" style="display: inline-block;">
                                    <label>
                                        <input type="radio" id="CY" value="CY" name="type" onclick="showFilters()" style="position: absolute;width: 40%;  height: 60%;  margin-left: -20px;  margin-top: 1px;">   CY
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="ContainerType" style="display:none">

                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                <div class="item form-group  x_panel">
                                    <div class="newbox">
                                        Container Type
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="item form-group">

                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <select class="form-control selectpicker" id="orientation_db">
                                                        <option value="ContainerWise">ContainerWise</option>
                                                        <option value="IndexWise" disabled>IndexWise</option>
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="filters">

                        </div>

                        <div class="row">
                            <div id="truckinoutprocesslist"></div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="button" id="btnShow" class="btn btn-primary" onclick="truckindetail()" style="float: right;">Truck In Report</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
